.my-table-form {
    border-collapse: collapse;
    background: none repeat scroll 0 0 #f8f8f8;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    font-size: 14px;
}
td,th{
	text-aglin:center;
}
.my-table-form tr td, .my-table-form tr th {
    border-bottom: 1px solid #e5e5e5;
    padding:3px 0px;
    vertical-align: middle;
}
.my-table-form  tr th {
    border-right: 1px solid #e5e5e5;
    padding: 3px 8px;
    color: #666;
    font-weight: 400;
    text-align: right;
}
.inputall_noborder{
	width:100%;
	border:none;
	height:24px;
	#text-align:center;
}
.textareaall_noborder{
	width:100%;
	border:none;
	#text-align:center;
}
.textareaall{
	width:100%;
	border:1px solid grey;
	color:black;
	#text-align:center;
}
.pageList{
	float:left;
	padding-left:1px;
}
.pagefirst{
	width:50px;
	height:25px;
	background-color: #f5f5f5;
}
.input120{
	width:120px;
	height:25px;
	border:1px solid grey;
	color:black;
	font-size: 12px;
	text-align:center;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
.input160{
	width:160px;
	height:25px;
	border:1px solid grey;
	color:black;
	font-size: 12px;
	text-align:center;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
.input80{
	width:80px;
	height:25px;
	border:1px solid grey;
	color:black;
	font-size: 12px;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
	#text-align:center;
}
.input100{
	width:100px;
	height:25px;
	border:1px solid grey;
	color:black;
	font-size: 12px;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
	#text-align:center;
}
.select120{
	width:120px;
	height:25px;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
.select80{
	width:80px;
	height:25px;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
.select60{
	width:60px;
	height:25px;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
.select40{
	width:40px;
	height:25px;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
.select_noborder{
	width:100%;
	border:none;
}
.input60{
	width:60px;
	height:25px;
	border:1px solid grey;
	color:black;
	font-size: 12px;
	#text-align:center;
	-webkit-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 3px 4px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 6px rgba(100,2,320,.3);
}
@charset "utf-8";
* {margin: 0;padding: 0;}

html {
    height: 100%;
    #overflow: hidden;
}

body {
    background: none repeat scroll 0 0 #ffffff;
    font-family: "Microsoft YaHei" !important;
    font-size: 12px;
    color:black;
    height: auto;
    position: relative;
    #-moz-user-select:none;
    #-webkit-user-select:none;
    user-select:none;    
}

img {border: 0 none;}
a {outline: medium none;}
ul, ol {display: block;list-style: outside none none;margin: 0;padding: 0;}
a:focus {outline: medium none;}

table {
    border-collapse: collapse;
    border-spacing: 0;}

/*
:horizontal//横向滚动条
:vertical//垂直滚动条
:window-inactive //窗口未激活状态
*/

/*滚动条宽度*/  
::-webkit-scrollbar {
    width: 6px;
}
/*横向滚动条*/
::-webkit-scrollbar:horizontal{
   height: 8px;
   opacity: 0.8;
}
/* 轨道样式 */  
::-webkit-scrollbar-track {  
	opacity: 0.8;
}  
/* Handle样式 */  
::-webkit-scrollbar-thumb {
    #border-radius: 10px;
    background: #839CD4;
    opacity: 0.8;
    /* background: rgba(47,128,209,0.6); */
}  
/*当前窗口未激活的情况下*/  
::-webkit-scrollbar-thumb:window-inactive {  
    background: #839CD4;   
}  
/*hover到滚动条上*/  
::-webkit-scrollbar-thumb:hover{  
    background-color: #839CD4;  
}  
/*滚动条按下*/  
::-webkit-scrollbar-thumb:active{  
    background-color: #839CD4;  
}
/* ul li以横排显示 */

/* 所有class为menu的div中的ul样式 */
.processhor ul
{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}
/* 所有class为menu的div中的ul中的li样式 */
.processhor ul li
{
    float:left; /* 向左漂移，将竖排变为横排 */
    height:50px;
}
/* 所有class为menu的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
.processhor ul li a, div.processhor ul li a:visited
{
    background-color: #465c71; /* 背景色 */
    border: 1px #4e667d solid; /* 边框 */
    color: #dde4ec; /* 文字颜色 */
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 20px 20px; /* 内部填充的距离 */
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
    width:150px;
}
/* 所有class为menu的div中的ul中的a样式(鼠标移动到元素中的样式) */
.processhor ul li a:hover
{
    background-color: #bfcbd6; /* 背景色 */
    color: #465c71; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
/* 所有class为menu的div中的ul中的a样式(鼠标点击元素时的样式) */
.processhor ul li a:active
{
    background-color: #465c71; /* 背景色 */
    color: #cfdbe6; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
.sorttdasc{
	background: url("../../images/icon06.gif") no-repeat right center;
	cursor: pointer;
}
.sorttddesc{
	background: url("../../images/icon05.gif") no-repeat right center;
	cursor: pointer;
}