@charset "utf-8";
/* CSS Document */
/*头部*/
#north {
    color: #fff;
    height: 40px;
    position: relative;
    z-index: 99;
}

.navwrapper {
    background: none repeat scroll 0 0 #2f80d1;
}

/*头部 右侧*/
.purple {
    background-color: #a069c3 !important;
}

.light-blue {
    background-color: #93cbf9 !important;
}

.ace-nav {
    height: 100%;
    margin: 0 !important;
}

.nav > li > a{
	padding: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    filter:alpha(opacity=50); 
    opacity:0.3;
}

.nav > li {
    display: block;
    position: relative;
}

.ace-nav > li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: relative;
}

.ace-nav .nav-user-photo {
    border: 2px solid #fff;
    border-radius: 100%;
    margin: -2px 8px 0 5px;
    max-width: 40px;
}


.user-info {
    display: inline-block;
    line-height: 15px;
    max-width: 100px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    top: 6px;
    vertical-align: top;
    white-space: nowrap;
}

.user-info small {
    display: block;
}

.ace-nav > li > a > .ace-icon {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 20px;
}

.ace-nav .user-menu  {
    padding-top: 6px;
    padding-bottom: 6px;
}

.dropdown-menu{
	min-width:110px;
}

/*头部 logo*/

#logo {
    box-sizing: border-box;
    height: 30px;
    padding: 5px 0 0 10px;
    width: 201px;
}

/*头部 tab*/
#taskbar {
    padding-top: 10px;
}

.tabs-scroll {
    cursor: pointer;
    display: none;
    float: left;
    height: 30px;
    width: 30px;
}

.scroll-left {
    background: url("../images/admin/tabs_arrow.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
}

.scroll-right {
    background: url("../images/admin/tabs_arrow.png") no-repeat scroll -30px center rgba(0, 0, 0, 0);
}

.tabs-container {
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.tabs-container div {
    display: inline-block;
    padding: 0 10px 0 5px;
    position: relative;
}


.tabs-container div.selected {
    background: none repeat scroll 0 0 #f9f9f7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #2f80d1;
}

.tabs-container div a.tab {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    min-width: 64px !important;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto !important;
}

.tabs-container div.selected a.tab {
    color: #2f80d1;
    padding: 0 10px 0 2px;
}

.tabs-container div a.close {
    background: url("../images/admin/tabs_close.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
   	display: none;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 6px;
    width: 16px;
    opacity: 0.8 !important;
}


.tabs-container div.selected:hover{
	background: none repeat scroll 0 0 #f9f9f7;
}

.tabs-container div:hover{
	background: none repeat scroll 0 0 #80b1e0;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs-container div:hover a{
	color: #fff;
}

.tabs-container div:hover a.close{
    display: inline-block;
}

.tabs-container div a:hover.close{
    background-position:-16px center;
}


.tabs-container div.selected a.close {
    display: inline-block;
}

/*导航菜单*/
.funcbar {
    margin-left: 0;
}

#funcbar {
    background: none repeat scroll 0 0 #f9f9f7;
    border-bottom: 1px solid #ddd;
    height: 30px;
    position: relative;
    z-index: 10;
}

#funcmenu_switcher {
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

#funcmenu_switcher:hover{
    cursor: pointer;
}

#funcmenu_switcher span {
    font-weight: bold;
    margin-left: 10px;
}



.funcmenu_switcher {
    background-image: url("../images/admin/open.png");
    height: 16px;
    left: 76px;
    position: absolute;
    top: 8px;
    width: 31px;
}

.funcmenu_switcher.active{
    background-image: url("../images/admin/close.png");
}


#funcbar_left {
    float: left;
    height: 30px;
    margin-left: 200px;
    overflow: hidden;
}

.second-tabs-container a{
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0px 10px;
}
.second-tab-item{
    cursor: pointer;
}
.second-tabs-container a:hover,
.second-tabs-container a.active{
    background: #2f80d1;
    color: #FFF;
    border-radius: 10px;
    text-decoration: none;
}

/*左侧*/
.west {
    left: 0;
    width: 200px;
}



#west {
    background: none repeat scroll 0 0 #f9f9f7;
    border-right: 1px solid #ddd;
    bottom: 0;
    position: absolute;
    top: 70px;
}

.menu-scroll {
    cursor: pointer;
    display: none;
    height: 20px;
    overflow: hidden;
}

.scroll-up {
    background: url("../images/admin/arrow_up.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ddd;
}

.scroll-up:hover{
    background: url('../images/admin/arrow_up_dark.png') center center no-repeat;
}

.scroll-down {
    background: url("../images/admin/arrow_down.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border-top: 1px solid #ddd;
}

.scroll-down:hover{
    background: url('../images/admin/arrow_down_dark.png') center center no-repeat;
}

.first-menu {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

div.first-menu-item {
    border: 1px solid #f9f9f7;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 12px 15px 12px 51px;
    position: relative;
}

div.first-menu-item-hover{
    background: #FFF;
    border: 1px solid #dddddd;
    border-right: 1px solid #ffffff;
    position: relative;
    padding-left: 50px;
    left: 1px;
    z-index: 11;
}

.first-menu-item i {
    color: #63a3e2;
    left: 10px;
    position: absolute;
    top: 2px;
}

.first-menu-item-hover.first-menu-item i{
    left: 9px;
}

.first-menu .iconfont {font-size: 30px !important;}


.first-menu-title {
    display: inline-block;
    font-size: 14px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 23px;
}

.second-panel {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    bottom: 20px;
    box-shadow: 2px 2px 6px 0 #dadada;
    color: #2f80d1;
    display: none;
    margin-left: -1px;
    overflow-y: auto;
    padding: 0 10px;
    position: absolute;
    width: 320px;
    z-index: 10;
}

.second-panel:hover{
    border: 1px solid #dddddd;
}

.second-panel h4 {
    margin: 20px 0 10px;
    padding-left: 14px;
    font-size:15px;
}

.second-menu {
    margin: 0;
    padding: 0;
}

.second-menu li {
    float: left;
    list-style: outside none none;
    min-width: 88px;
}

.second-menu a:hover{
    color: #2f80d1;
    background: #fff;
    font-weight: bold;
    cursor: default;
}

.second-panel a {
    border-radius: 3px;
    color: #686868;
    margin: 3px 10px;
}

.second-panel a:hover{
    color: #ffffff;
    border-radius: 3px;
    margin: 3px 10px;
    background-color: #2f80d1;
    cursor:pointer;
}


a.second-menu-item {
    display: inline-block;
    padding: 3px;
    text-decoration: none;
}

/*颜色*/
#m01 i{
    color: #4ccfe1;
}
#m02 i{
    color: #fdc006;
}
#m03 i{
    color: #4ccfe1;
}
#m04 i{
    color: #ce92d8;
}
#m05 i{
    color: #fe8562;
}
#m06 i{
    color: #98d055;
}
#m07 i{
    color: #ef6191;
}
#m08 i{
    color: #fe8562;
}
#m09 i{
    color: #90a5fe;
}
#m10 i{
    color: #a0887e;
}
#m11 i{
    color: #97cf54;
}


.west-footer {
    background: none repeat scroll 0 0 #f9f9f7;
    border-top: 1px solid #ddd;
    bottom: 0;
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;
}

.west-footer ul.ft-links {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 15px;
}

.west-footer ul.ft-links li.ft-link {
    float: left;
    margin-left: 0;
    margin-right: 35px;
}

.ft-link a {
    color: #5b99ee;
    font-size: 24px;
    line-height: 40px;
}

.west-handle:link {
    outline: medium none;
    text-decoration: none;
}

.right_arrow {
    display: none;
}

/*中间*/
#center {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 71px;
}

.center {
    left: 201px;
}

#center .tabs-panel{
    width: 100%;
    height: 100%;
    display: none;
    transition: all 0.3s ease;
}
#center .selecting{
    -webkit-transform: translate3d(0, 0, 0);
}
#center .unselecting{
    position: absolute;
    left: 0;
    display: block;
    -webkit-transform: translate3d(100%, 0, 0);
}
#center .selected{
   display:block;
}
#center .tabs-panel iframe{
   width:100%;
   height:100%;
}



.close-menu .west{
    left: -200px;
}

.close-menu .center{
    left: 0px;
}

.left-mini .west{
    width: 50px;
}

.left-mini .ft-link-icon{
    display: none;
}

.left-mini .left_arrow{
    display: none;
}
.left-mini .right_arrow{
    display: block;
}

.left-mini .first-menu-item{
    height: 45px;
    padding: 0;
    margin-left: 0px;
}
.left-mini .first-menu-title{
    display: none;
}

.left-mini .center{
    left: 51px;
}


#contentwest {
    border-right: 1px solid #e3e3e3;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 200px;
}

#contentcenter {
    bottom: 0;
    left: 201px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 10px 2px 10px;
}

/*信息中心*/


.tooli {
	padding: 30px 20px;
}

.tooli li {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.tooli li span {
	text-align: center;
}

.tooli li p {
	text-align: center;
}

a, a:focus {
	color: #000;
	outline: medium none;
	text-decoration: none;
}

a:hover {
	color: #00a4ac;
	text-decoration: none;
}

.newlist{padding-left:8px; padding-top:8px;}
.newlist li{line-height:25px; background:url(../images/admin/list2.png) no-repeat 0px 8px; text-indent:11px;}
.newlist i{width:80px; display:block; float:left; font-style:normal;}
.newlist b{font-weight:normal; color:#7b7b7b; padding-left:10px;}

/*搜索*/
.search_area {padding: 8px 0px;margin: 0 auto;text-align: center;margin-top: 0px;background-color: #f5f5f5;border-bottom: 1px solid #dddddd;}
.data-wrap {padding: 8px 10px 2px 10px;}

/*bootstrap重写*/
.checkbox, .radio {
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    position: relative;
}

/*easyui重写*/
/*
.panel-icon{
	top: 45% !important;
  	margin-top: -9px !important;
  	overflow: visible !important;
}
*/

/*图标*/
.myicon-list{background:url('../images/admin/icon/list.png') no-repeat center center;}
.myicon-tree{background:url('../images/admin/icon/tree.png') no-repeat center center;}
.myicon-edit{background:url('../images/admin/icon/edit.png') no-repeat center center;}
.myicon-delete{background:url('../images/admin/icon/delete.png') no-repeat center center;}
.myicon-add{background:url('../images/admin/icon/add.png') no-repeat center center;}
.myicon-view{background:url('../images/admin/icon/view.png') no-repeat center center;}
.myicon-repair{background:url('../images/admin/icon/repair.png') no-repeat center center;}
.myicon-save{background:url('../images/admin/icon/save.png') no-repeat center center;}
.myicon-close{background:url('../images/admin/icon/close.png') no-repeat center center;}
.myicon-importxls{background:url('../images/admin/icon/importxls.png') no-repeat center center;}
.myicon-download{background:url('../images/admin/icon/download.png') no-repeat center center;}