@charset "utf-8";
* {margin: 0;padding: 0;}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background: none repeat scroll 0 0 #ffffff;
    font-family: "Microsoft YaHei" !important;
    font-size: 12px;
    height: 100%;
    position: relative;
    #-moz-user-select:none;
    #-webkit-user-select:none;
    user-select:none;    
}

img {border: 0 none;}
a {outline: medium none;}
ul, ol {display: block;list-style: outside none none;margin: 0;padding: 0;}
a:focus {outline: medium none;}

table {
    border-collapse: collapse;
    border-spacing: 0;}

/*
:horizontal//横向滚动条
:vertical//垂直滚动条
:window-inactive //窗口未激活状态
*/

/*滚动条宽度*/  
::-webkit-scrollbar {  
    width: 8px;
}
/*横向滚动条*/
::-webkit-scrollbar:horizontal{
   height: 8px;
}
/* 轨道样式 */  
::-webkit-scrollbar-track {  
}  
/* Handle样式 */  
::-webkit-scrollbar-thumb {  
    border-radius: 10px;  
    background: rgba(47,128,209,0.6);   
}  
/*当前窗口未激活的情况下*/  
::-webkit-scrollbar-thumb:window-inactive {  
    background: rgba(47,128,209,0.8);   
}  
/*hover到滚动条上*/  
::-webkit-scrollbar-thumb:hover{  
    background-color: rgba(47,128,209,0.8);  
}  
/*滚动条按下*/  
::-webkit-scrollbar-thumb:active{  
    background-color: rgba(47,128,209,0.8);  
}

