@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure, select {
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
}
body {
    color: #555555;
    font-size: 12px;
    padding: 10px;
}

.my-w80 {
    width: 80px;
}

.my-w60 {
    width: 60px;
}


.my-table-form {
    border-collapse: collapse;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}
.my-table-form tr td, .my-table-form tr th {
    border-bottom: 1px solid #e5e5e5;
    padding: 3px 8px;
    vertical-align: middle;
}
.my-table-form  tr th {
    background: none repeat scroll 0 0 #f8f8f8;
    border-right: 1px solid #e5e5e5;
    color: #666;
    font-weight: 400;
    text-align: center;
}
.textbox-text{
	border: 1px solid #d0d6d9;
    box-shadow: 2px 2px 2px #f0f0f0 inset !important;
    color: #555;
    line-height: 1.6em;
    outline: medium none;
    padding: 2px 7px;
}