@charset "utf-8";
/* CSS Document */
#control {
    height: 26px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 3;
}

#control table { 
   margin: 5px auto;
} 

.control-r a{
   padding-right: 6px;
   height: 26px; 
   width: 26px;
} 

.control-l { 
   width: 10px;
   height: 26px; 
   background: url('../images/admin/desktop/1.png') no-repeat left top transparent;
} 

#control a { 
   top: 0px; 
   float: left; 
   width: 26px;
   height: 26px; 
   background: url('../images/admin/desktop/3.png') no-repeat center top transparent;
   display: block; 
} 

#control a.active { 
   background: url('../images/admin/desktop/2.png') no-repeat center top transparent;
} 

#control a.cfg { 
   height: 26px;
   width: 19px;
   float: right; 
   background: url('../images/admin/desktop/4.png') no-repeat center top transparent;
} 

#control a.cfg:hover { 
   background: url('../images/admin/desktop/4-hover.png') no-repeat center top transparent;
}

.screen ul {
    box-sizing: border-box;
    height: 100%;
    padding: 60px 70px 0;
}

.screen ul li {
    width: 110px;
}

.block {
    display: block;
    float: left;
    height: 115px;
    overflow: hidden;
    padding: 15px 10px 0 0;
    text-align: center;
}


li.block .img {
    cursor: pointer;
    height: 86px;
    line-height: 86px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 86px;
}

li.block .img:hover{
    animation: tada 0.8s ease-in-out;
    -webkit-animation: tada 0.8s ease-in-out;
    -moz-animation: tada 0.8s ease-in-out;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

li.block .img p {
    position: static;
    top: 50%;
}
li.block .img p::after {
    content: ".";
    font-size: 1px;
    visibility: hidden;
}

li.block .img p img {
    height: 65px;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    max-height: 86px;
    max-width: 86px;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    width: 65px;
}

.block .count {
    background-image: url("../images/admin/desktop/count_bg.png");
    background-repeat: no-repeat;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -8px;
    width: 44px;
}

.icon-text {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    padding-left: 0;
    text-align: center;
}

.icon-text span {
    color: #454545;
    display: inline-block;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 0;
}

.block .count1 {
    background-position: -16px -41px;
}
.block .count2 {
    background-position: -16px -84px;
}
.block .count3 {
    background-position: -16px -126px;
}
.block .count4 {
    background-position: -16px -168px;
}
.block .count5 {
    background-position: -16px -210px;
}
.block .count6 {
    background-position: -16px -252px;
}
.block .count7 {
    background-position: -16px -294px;
}
.block .count8 {
    background-position: -16px -336px;
}
.block .count9 {
    background-position: -16px -378px;
}
.block .count10 {
    background-position: -16px -420px;
}