@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure, select {
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
}
body {
    color: #555555;
    font-size: 12px;
    padding: 10px;
}
.content-left {
    border: 1px solid #c2d1d8;
    overflow: hidden;
}
.content-right {
    border: 1px solid #c2d1d8;
    float: right;
    margin-left: 6px;
    overflow: hidden;
    padding-bottom: 6px;
    width: 300px;
}
.content-right th {
    text-align: left !important;
}
.title-header {
    background: none repeat scroll 0 0 #e6e6e6;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
    padding: 5px 9px;
}
.text-table-form {
    border-collapse: collapse;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}
.text-table-form tr td, .text-table-form tr th {
    border: 1px solid #e5e5e5;
    padding: 3px 8px;
    vertical-align: middle;
    text-align:center;
}
.text-table-form  tr th {
    background: none repeat scroll 0 0 #f8f8f8;
    border-right: 1px solid #e5e5e5;
    color: #666;
    font-weight: 400;
    #text-align: right;
}
.my-table-form {
    border-collapse: collapse;
    color: #666;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}
.my-table-form tr td, .my-table-form tr th {
    border: 1px solid #e5e5e5;
    padding: 8px 8px;
    vertical-align: middle;
    text-align:left;
}
.my-table-form  tr th {
    background: none repeat scroll 0 0 #f8f8f8;
    border-right: 1px solid #e5e5e5;
    color: #666;
    font-weight: 400;
    text-align: right;
}
span.star {
    color: #f46f6d;
    font-size: 12px;
    font-weight: bold;
}
.my-w80 {
    width: 80px;
}
.my-table-form label, .my-table-form input, .my-table-form select, .my-table-form option, .my-table-form textarea {
    font-size: 12px;
}
.my-table-form label {
    color: #656e73;
}
.my-table-form input {
    vertical-align: middle;
}
.my-table-form input[type="radio"], .my-table-form input[type="checkbox"] {
    vertical-align: middle;
}
.my-table-form input[type="text"], .my-table-form input[type="password"] {
    border: 1px solid #d0d6d9;
    box-shadow: 2px 2px 2px #f0f0f0 inset !important;
    color: #555;
    line-height: 1.6em;
    outline: medium none;
    padding: 2px 7px;
}
.my-table-form input[type="text"]:focus, .my-table-form input[type="password"]:focus {
    border: 1px solid #51b4ff;
    box-shadow: none !important;
}
.my-table-form textarea {
    border: 1px solid #d0d6d9;
    box-shadow: 2px 2px 2px #f0f0f0 inset !important;
    color: #555;
    line-height: 1.6em;
    outline: medium none;
    padding: 5px;
}
.my-table-form textarea:focus {
    border: 1px solid #51b4ff;
    box-shadow: none !important;
}
.my-table-form select {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin: 0;
    vertical-align: middle;
    height:26px;
}

.my-btn {
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Microsoft YaHei,SimSun,Arial;
    font-size: 14px;
    line-height: 1.4em;
    margin: 5px 10px 10px 0;
    padding: 6px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.my-btn-primary {
    background: none repeat scroll 0 0 #3071a9;
    border: 1px solid transparent;
    color: #ffffff;
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.75);
}