
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1462759524'); /* IE9*/
  src: url('iconfont.eot?t=1462759524#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1462759524') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1462759524') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1462759524#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fontfanhui:before { content: "\e628"; }
.icon-fontsearch:before { content: "\e607"; }
.icon-home:before { content: "\e60b"; }
.icon-tshirt:before { content: "\e608"; }
.icon-fontdel:before { content: "\e61d"; }
.icon-hr:before { content: "\e62b"; }
.icon-iconqingdan:before { content: "\e627"; }
.icon-help:before { content: "\e60c"; }
.icon-fontrename:before { content: "\e61e"; }
.icon-fontsafe:before { content: "\e621"; }
.icon-iconclose:before { content: "\e614"; }
.icon-message:before { content: "\e609"; }
.icon-erp:before { content: "\e600"; }
.icon-fonttupian:before { content: "\e629"; }
.icon-close:before { content: "\e615"; }
.icon-fontbatch:before { content: "\e617"; }
.icon-weixin:before { content: "\e62c"; }
.icon-bell:before { content: "\e616"; }
.icon-fontxls:before { content: "\e623"; }
.icon-right:before { content: "\e62a"; }
.icon-fontcrm:before { content: "\e625"; }
.icon-fontadd:before { content: "\e61f"; }
.icon-fontprint:before { content: "\e622"; }
.icon-iconsave:before { content: "\e626"; }
.icon-book:before { content: "\e620"; }
.icon-unie641:before { content: "\e604"; }
.icon-unie653:before { content: "\e601"; }
.icon-system:before { content: "\e60a"; }
.icon-unie637:before { content: "\e602"; }
.icon-unie636:before { content: "\e603"; }
.icon-flow:before { content: "\e60e"; }
.icon-office:before { content: "\e60f"; }
.icon-k3:before { content: "\e610"; }
.icon-unie67b:before { content: "\e605"; }
.icon-unie61d:before { content: "\e611"; }
.icon-unie63e:before { content: "\e606"; }
.icon-unie63d:before { content: "\e60d"; }
.icon-unie63c:before { content: "\e612"; }
.icon-unie63b:before { content: "\e613"; }
.icon-tree:before { content: "\e624"; }
.icon-iconcloudupload:before { content: "\e618"; }
.icon-iconfolderclose:before { content: "\e619"; }
.icon-iconlist:before { content: "\e61a"; }
.icon-iconth:before { content: "\e61b"; }
.icon-iconclouddown:before { content: "\e61c"; }
