<?xml version="1.0" encoding="UTF-8"?>
<java version="1.6.0_11" class="java.beans.XMLDecoder">
	<object class="com.woai9.dol.bean.Config">
		<!-- 备份路径 -->
		<void property="backupPath">
			<string></string>
		</void>	
		
		<!-- 是否自动备份。1：自动，0：手动 -->
		<void property="autoBackup">
			<int>1</int>
		</void>				
 </object> 
</java> 
